# Loads default set of integrations. Do not remove.
homeassistant:
  auth_providers:
    - type: homeassistant

  latitude: !secret home_latitude
  longitude: !secret home_longitude

  # Name of where Homeassistant is running
  name: Home
  temperature_unit: F
  time_zone: America/New_York
  unit_system: us_customary

zone: !include includes/zones.yaml

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

group: !include_dir_merge_named groups/
automation: !include_dir_merge_list automations/
script: !include_dir_merge_named scripts/
scene: !include scenes.yaml

notify:
  - name: household_mobile_devices
    platform: group
    services:
      - service: mobile_app_brians_iphone
      - service: mobile_app_sheenas_iphone

default_config:
system_health:
